extends layout 

block layout-content 
    .my-4 
        h4.my-2 captured clients data
        .w-100.my-1.py-1 
            a.btn.btn-success(href="/customer") Add Customer 
        table.table.table-hover.my-2 
            thead 
                tr 
                    th(scope="col") No.
                    th(scope="col") Photo
                    th(scope="col") Full name
                    th(scope="col") Age
                    th(scope="col") Gender
                    th(scope="col") Empl stat
                    th(scope="col") Id Number

            tbody
                tr 
                    td(scope="col") 1
                    td(scope="col") Photo
                    td(scope="col") Emmanuel Mwinama
                    td(scope="col") 16
                    td(scope="col") Male
                    td(scope="col") Employed
                    td(scope="col") GWAMKC019
                tr 
                    td(scope="col") 1
                    td(scope="col") Photo
                    td(scope="col") Emmanuel Mwinama
                    td(scope="col") 16
                    td(scope="col") Male
                    td(scope="col") Employed
                    td(scope="col") GWAMKC019