extends layout 

block layout-content 
    .my-4 
        h4.my-2 captured clients data
        .w-100.my-1.py-1 
            a.btn.btn-success(href="/customer") Add Customer 
        table.table.table-hover.my-2 
            thead 
                tr 
                    th(scope="col") No.
                    th(scope="col") Photo
                    th(scope="col") Full name
                    th(scope="col") Age
                    th(scope="col") Gender
                    th(scope="col") Employee Number

            tbody
                tr 
                    th(scope="col") Test
                    th(scope="col") Test
                    th(scope="col") Test
                    th(scope="col") Test
                    th(scope="col") Test
                    th(scope="col") Test